:root {
  --mainColor: #1090CB;
  --neroColor: #252525;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  /* color: black; */
}

/* p{
  margin: 0;
} */

ul {
  padding-left: 0;
  list-style-type: none;
}

.mainColor {
  color: var(--mainColor);
}

.neroColor {
  color: var(--neroColor);
}

.mainBg {
  background-color: var(--mainColor);
}

p {
  color: #868686;
  margin: 0;
}



/* nav */
nav {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  /* width: 10%; */
  /* background-color: tomato; */

}

.Links--list {
  /* margin: auto 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  /* transition:all 1s ease; */
}

.Links--list a {
  color: black;
  line-height: 24px;


}

header {
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.toggle-menu {
  background: none;
  border: none;
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
  display: none;


  /* background-color: red; */
}

.toggle-menu:focus {
  outline: none;
}

.toggle-menu span {
  display: inline-block;
  background-color: var(--mainColor);
  height: 3px;
  margin: 3px 0;
  width: 40px;
  transition: 0.6s ease;
}

.toggle-menu.open span:nth-child(2) {
  transform: rotate(45deg);
  opacity: 0;
}

.toggle-menu.open span:nth-child(1) {
  transform: rotate(45deg);
}

.toggle-menu.open span:nth-child(3) {
  transform: rotate(-45deg);

}

.toggle-menu.open span {
  position: absolute;
  justify-content: center;
}






@media screen and (max-width: 990px) {

  /* body {
    background-color: red;
  } */
  .Links--list {
    display: none;

  }

  .toggle-menu {
    display: flex;
  }

  /* .Links--list {
    
    
    
  }
   */


  .Links--list.open {
    position: absolute;
    width: 100%;

    background-color: wheat;
    transition: all 0.5s ease;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }


  .Links--list a {
    margin: 2rem 0;

  }

  /* .toggle{
  display: block;
}
. */
}

/* main buttom style  */


/* main */
.mainSection {
  height: calc(100vh - 62px);
  background-image: url(../imges/Header.svg);
  background-position: center center;
  background-size: cover;
}
.main--title{
font-size: 40px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0em;



}
.item--main h1 {
  font-size: 40px;
}


.buttom {
  padding: 6px 15px;
  /* border-color: var(--mainColor); */
  border-radius: 10px;
  border: 1px solid;

  display: inline-block;
  transition: 0.6s ease;

}

.btn1:hover {
  transform: translateY(4px);
}

.item--main p {
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;

  color: #5C5C5C;
}

/* icon section */
.sercile {
  padding: 5rem 6rem;
  border-radius: 50%;
  background-color: #08D3BB;
  position: absolute;
  bottom: -16%;
  left: -11%
}

.iconSection {
  border-bottom: 1px solid #C7C7C7;
}

/* lorem section */
.moucpAft::after {
  position: absolute;
  content: "";
  height: 505px;
  width: 497px;

  right: -41%;
  opacity: 0.6;
  top: 17%;
  border-radius: 50%;
  background: radial-gradient(72.77% 72.77% at 50% 50%, #DED9FF 0%, rgba(255, 255, 255, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
}
.moucpvr::after{
  position: absolute;
  content: "";
  background: radial-gradient(72.77% 72.77% at 50% 50%, #DED9FF 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  z-index: -1;
  left: 50%;
  top: 0;
  opacity: 0.7;
  
}
.mockup--title{
font-size: 30px;
font-weight: 600;
line-height: 51px;
letter-spacing: 0em;

}
.smile--icon{
  background-color: #08D3BB;
}
.containerr{
  width: 90%;
  margin: auto;
}
.mockup--section{
  background-image: url(../imges/line.svg);
  background-repeat: no-repeat;
  background-position: 7% 37%;
}